#border1 {
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 5px 20px 40px black;
    width: 1000px;
    height: auto;
    margin-left: 150px;
    margin-top: 30px;
    border-radius: 1.25rem;
    padding: 0px;
}

#border2 {
    margin: 25px;
    background-color: #ffffff(255, 255, 255);
    border-radius: 20px;
    padding: 40px;

}

#border3 {
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 5px 20px 40px black;
    width: 1000px;
    height: auto;
    margin-left: 150px;
    margin-top: 30px;
    border-radius: 1.25rem;
    padding: 0px;
}

#border4 {
    margin: 25px;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 40px;

}


#bg {
    background-color: rgb(228, 228, 228);
}

#bg2 {
    background-color: rgb(248, 248, 248);
}

#input {
    border-radius: 30px;
    height: 45px;
}

#input_date {
    position: relative;
    color: white;
    height: 45px;
    border-radius: 30px;
}

#input_date:before {
    position: absolute;
    top: 10px;
    left: 15px;
    content: attr(data-date);
    display: inline-block;
    color: black;
}

#input_date::-webkit-datetime-edit,
#input_date::-webkit-inner-spin-button,
#input_date::-webkit-clear-button {
    display: none;
}

#input_date::-webkit-calendar-picker-indicator {
    position: absolute;
    top: 10px;
    right: 20px;
    color: black;
    opacity: 1;
}

#input-department {
    border-radius: 30px;
    height: 45px;
}


#other-input {
    border-radius: 30px;
    height: 45px;
}


#bring-department {
    border-radius: 30px;
    height: 45px;
}

#other-bring {
    border-radius: 30px;
    height: 45px;
}

#cover {
    border-radius: 30px;
    height: 45px;
}

#images {
    border-radius: 30px;
    height: 45px;
}

#code_money {
    border-radius: 30px;
    height: 45px;
}

#name_money {
    border-radius: 30px;
    height: 45px;
}

#budget {
    border-radius: 30px;
    height: 45px;
}


strong {
    font-size: 19px;
    color: rgb(0, 0, 0);
}



#brData {
    border-top-left-radius: 5px;
    border-bottom-right-radius: 60px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 60px;
    width: 20%;
    text-align: left;
    height: 70px;
    padding: 10px;
    padding-right: 90px;
    background: rgb(46, 119, 255);
    box-shadow: 3px 4px 7px rgb(54, 54, 54);
    margin-bottom: 15px;
    margin-top: 30px;
    color: aliceblue;

}

#brData2 {
    border-top-left-radius: 5px;
    border-bottom-right-radius: 60px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 60px;
    width: 20%;
    text-align: left;
    height: 70px;
    padding: 10px;
    padding-right: 90px;
    background: rgb(248, 225, 19);
    box-shadow: 3px 4px 7px rgb(54, 54, 54);
    margin-bottom: 15px;
    margin-top: 30px;

}

#btn1 {
    width: 350px;
    height: 70px;
    border-radius: 33px;
    font-size: 30px;
    color: rgb(255, 255, 255);
    background-color: #0066ff;
    margin-top: 10px;

}

#btn1:hover {
    background-color: rgb(0, 255, 42);

    box-shadow: 0 7px 10px black;
    color: rgb(0, 0, 0);


}

#btn2 {
    width: 350px;
    height: 70px;
    border-radius: 33px;
    font-size: 30px;
    color: rgb(0, 0, 0);
    background-color: #ffe600;
    margin-top: 50px;

}

#btn2:hover {
    background-color: rgb(43, 255, 0);

    box-shadow: 0 7px 10px black;
    color: rgb(255, 255, 255);


}

#back {
    color: black;
    font-size: 17px;
    text-shadow: 0 3px 10px black;
    text-decoration: none;
}

.center {
    text-align: center;
    vertical-align: middle;
    margin-left: 5px;
    margin-top: 4px;
}

#back:hover {
    color: rgb(255, 255, 255);
    text-shadow: 0 3px 10px rgb(0, 255, 149);

}

.imgPreview img {
    padding: 8px;
    max-width: 230px;
}

.coverPreview img {
    padding: 8px;
    max-width: 230px;
}